@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2c0a9;
}

header {
  background-color: white;
  padding: 20px;
}

header > h1 {
  color: #454445;
  text-align: center;
  font-family: 'Asap', sans-serif;
}

.score-board {
  border: 2px solid white;
  width: 200px;
  margin: 5px auto 30px;
  padding: 20px;
  font-family: 'Asap', sans-serif;
  font-size: 35px;
  text-align: center;
  color: white;
  position: relative;
}

.badge {
  background-color: red;
  font-size: 14px;
  padding: 10px;
  font-family: 'Asap', sans-serif;
}

#user-label {
  position: absolute;
  top: 25px;
  left: -25px;
}

#computer-label {
  position: absolute;
  top: 25px;
  right: -25px;
}

.single, .best3{
  font-family: 'Asap', sans-serif;
  background-color: #333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 10px;
  cursor: pointer;
  font-weight: bold;

  }

.single:focus{
  background-color: #f2d787;
  outline: none
}

.best3:focus{
  background-color: #f2d787;
  outline: none
}

.round{
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  font-size: 40px;
  color: white;
}


.choices {
  margin: 40px 0;
  text-align: center;
}

.choice {
  display: inline-block;
  margin:0 20px;
  padding: 20px;
  border: 4px solid white;
  border-radius: 50%;
}

.choice:hover {
  cursor: pointer;
  background-color: #f2d787;
}

.action-message {
  text-align: center;
  font-family: 'Asap', sans-serif;
  font-size: 30px;
  color: white;
}
